@using JS_Angular.Models;
@{
    ViewBag.Title = "Database";

    var context = new PersonDataContext();

}

<h2>Database</h2>

<div ng-app="DatabaseApp">
    <div ng-controller="DatabaseController">



    </div>


</div>